.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.taskForm {
  width: 400px;
}

.taskInput {
  width: 300px;
}

.taskSubmit {
  background-color: #51d43f;
  border: none;
  height: 100%;
  margin-left: 10px;
}

.remove {
  background-color: red;
  border: red;
  color: white;
  height: 30px;
  margin-bottom: 10px;
}
